<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="css/clear-mode.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
</head>
<body>
    <header>
        <span>
            <div>
                <img src="images/Logo_1.png" alt="Logo Peritroopers" width="120">
                <h1>Peritroopers</h1>           
            </div>
            <br>

            <article class="busqueda">
                <form action="" method="post" target="_blank">
                    <input type="search" placeholder="Buscar productos, marcas" class="casillero">
                    <button type="submit" class="boton"><i class="fas fa-search"></i></button>
                </form>
            </article>
        </span>
        <br>

        <div class="busqueda"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</div>
        
        <section>
            <nav class="navbar navbar-default navbar-fixed-top">
                <ul type="none" class="enlaces">
                    <li><a href="#ofertas">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul type="none" class="enlaces">
                    <li><a href="#">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="contenedor-burger">
                <span class="burger-menu">
                    <i class="fa fa-bars burger"></i>
                </span>
            </div>
        </section>

        <section>
            Carrousel de imágenes
        </section>
    </header>
     
    <main>
        <section>
            <h2>Basado en tu última visita</h2>
            <article class="tarjeta">
                <div class="detalle">
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con MercadoLiebreCash tenés cuotas sin<br>
                    interés con tarjeta o efectivo en puntos de<br>
                    pago. ¡Y siempre es seguro</p>
                </div>
            </article>

            <article class="tarjeta">
                <div class="detalle">
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con MercadoLiebreCash tenés cuotas sin<br>
                    interés con tarjeta o efectivo en puntos de<br>
                    pago. ¡Y siempre es seguro</p>
                </div>
            </article>

            <article class="tarjeta">
                <div class="detalle">
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con MercadoLiebreCash tenés cuotas sin<br>
                    interés con tarjeta o efectivo en puntos de<br>
                    pago. ¡Y siempre es seguro</p>
                </div>
            </article>

            <article class="tarjeta">
                <div class="detalle">
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con MercadoLiebreCash tenés cuotas sin<br>
                    interés con tarjeta o efectivo en puntos de<br>
                    pago. ¡Y siempre es seguro</p>
                </div>
            </article>
        </section>
        <br>
        <section>
            <h2 id="ofertas">Ofertas</h2>
            <article class="tarjeta">
                <div class="detalle">
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con MercadoLiebreCash tenés cuotas sin<br>
                    interés con tarjeta o efectivo en puntos de<br>
                    pago. ¡Y siempre es seguro</p>
                </div>
            </article>

            <article class="tarjeta">
                <div class="detalle">
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con MercadoLiebreCash tenés cuotas sin<br>
                    interés con tarjeta o efectivo en puntos de<br>
                    pago. ¡Y siempre es seguro</p>
                </div>
            </article>    

            <article class="tarjeta">
                <div class="detalle">
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con MercadoLiebreCash tenés cuotas sin<br>
                    interés con tarjeta o efectivo en puntos de<br>
                    pago. ¡Y siempre es seguro</p>
                </div>    
            </article>

            <article class="tarjeta">
                <div class="detalle">
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con MercadoLiebreCash tenés cuotas sin<br>
                    interés con tarjeta o efectivo en puntos de<br>
                    pago. ¡Y siempre es seguro</p>
                </div>  
            </article>
        </section>
    </main>

    <footer class="busqueda">
        <section>
            <article>
                <div>
                    <i class="fas fa-credit-card icono"></i>
                </div>
                <div class="texto">
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con MercadoLiebreCash tenés cuotas sin<br>
                    interés con tarjeta o efectivo en puntos de<br>
                    pago. ¡Y siempre es seguro</p>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div>
                    <i class="fas fa-gift icono"></i>
                </div>
                <div class="texto">
                    <h3>Envío gratis desde los $ 2.500</h3>
                    <p>Solo por estar registrad@ en MercadoLiebre<br>
                    tenés envíos gratis en miles de productos. Es<br>
                    un beneficio de MercadoPuntos</p>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div>
                    <i class="fas fa-user-shield icono"></i>
                </div>
                <div class="texto">
                    <h3>Seguridad de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre<br>
                    no hay nada que no puedas hacer porque<br>
                    estás siempre protegid@</p>
                </div>
            </article>
        </section>
        <section class="copyright">
            <article class="texto">
                <h5>Copyright © 1999-2021 MercadoLiebre S.R.L.</h5>
            </article>
        </section>
    </footer>
</body>
</html>