<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/styleRegister.css">
    <title>Document</title>
</head>
<body>
    <section class="registro">
        <div class="title">
            <label class="labelTitle" id="labelTitle">REGISTRO</label>
        </div>
        <form class="formulario">
            <div class="name">
                <label class="labelName" id="labelName">Nombre</label>
                <input type="text" class="inputName" placeholder="nombre" required>
            </div>
            <div class="lastName">
                <label class="labelLastName" id="labelLastName">Apellido</label>
                <input type="text" class="inputLastName" placeholder="apellido" required>
            </div>
            <div class="age">
                <label class="labelAge" id="labelAge">Edad</label>
                <input type="text" class="inputAge" placeholder="edad" required>
            </div>
            <div class="address">
                <label class="labelAddress" id="labelAddress">Direccion</label>
                <input type="text" class="inputAddress" placeholder="direccion" required>
            </div>
            <div class="email">
                <label class="labelEmail" id="labelEmail">Email</label>
                <input type="email" class="inputEmail" placeholder="example@gmail.com" required>
            </div>
            <div class="password">
                <label class="labelPassword" id="labelPassword">Password</label>
                <input type="password" class="inputPassword" placeholder="**********" required>
            </div>
            <div class="rePassword">
                <label class="labelRePassword" id="labelRePassword">repita el Password</label>
                <input type="password" class="inputRePassword" placeholder="**********" required>
            </div>
            <div class="button">
                <button type="submit" class="btn">Enviar</button>
            </div>
        </form>
    </section>    
</body>
</html>